.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: aqua; */
}

.theme_changer_container {
  position: fixed;
  top: 2%;
  right: 4%;
}
.from_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
.from_container > div {
  width: 350px;
  min-height: 30vh;
  /* background-color: blue !important; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
}

.todo_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.todo_container > div {
  width: 350px;
  min-height: 30vh;
  /* background-color: blue !important; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.stylefortext {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.icon_container {
  display: flex;
}
